body {
  font-family: 'Roboto', sans-serif;  
}

.nav-bar {
  height: 60px;
  background: #00A7E1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  margin-left: 30px;
}

.search-container {
  margin-right: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devices-header {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin-top: 30px;  
}

.device {
  width: 600px;
  border: 1px solid black;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
}

.device-name, 
.device-status,
.select-zone-button,
.run-all-zones-button {
  justify-self: center;
  align-self: center;
}

.select-zone-button,
.run-all-zones-button,
.run-selected-button {
  height: 50px;
  width: 100px; 
  background: #00A7E1;
  color: #fff;
}

.zone-container {
  grid-column: 1 /span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr 1fr;
}

.title {
  text-align: center;
  height: 30px;
  font-size: 25px;
}

.zone-list,
.time-list,
.select-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 25px;
  justify-content: center;
}

.run-button-container {
  grid-column: 1 /span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

